.App {
  text-align: center;
}

.App .App-header {
  background-color: #282c34;
}

.App-logo {
  height: 50px;
  pointer-events: none;
}

.icon {
  width: 50px;
  margin-left: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite .1s linear;
  }
}

.App-header {
  min-height: 4vmin;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: calc(10px + 2vmin);
  color: white;
}

.AppBody {
  margin-top: 10vmin;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
